:root {
  --bg-color: #F0F0F7;
  --surface-color: #DADAED;
  --card-color: #F2F2F9;
  --primary-color: #7B7D9D;
  --text-color: #2D2E3D;
}

body {
  background-color: var(--bg-color);
}

#main-body {
  display: flex;
  height: 100vh;
}

#input-body {
  background-color: var(--surface-color);
  flex: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

#merchant-image {
  position: sticky;
  top: 0;
  max-width: 100%;
  margin-bottom: 20px;
}

#input-card {
  background-color: var(--card-color);
  display: flex;
  flex-direction: column;
  width: 350px;
  height: 500px;
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.5);
  border-width: soft;
  justify-content: center;
  align-items: center;
}

.input-label {
  color: var(--text-color);
  font-size: 14px; 
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #4a4a4a;
  align-self: flex-start;
  margin-left: 40px;
  margin-bottom: 4px;
}

.input-box {
  width: 80%;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 12px;
  margin-bottom: 20px;
  font-size: 16px; 
}

.input-box:focus {
  outline: none;
  border-color: #948D9B;
  box-shadow: 0 0 8px rgba(148, 141,155,0.5);
  background-color: #ffffff;
}

#budget-btn {
  color: var(--text-color);
  font-weight: bold;
  width: 80%;
  height: 35px;
  border: none;
  border-radius: 10px;
  box-shadow: 0 0 8px rgba(148, 141,155,0.5);
  background-color: var(--primary-color);
  transition: all 0.2s ease-in-out;
}

#budget-btn:hover {
  outline: none;
  color: white;
  transform: scale(0.98);
  border-color: #948D9B;
  cursor: pointer;
  background-color: #5C5E7E;
}

* {
  box-sizing: border-box;
}

#money-display {
  background-color: var(--primary-color);
  display: flex;
  flex: 3;
  flex-direction: column;
  padding: 20px;
  gap: 16px;
  justify-content: start;
  align-items: center;
  overflow-y: auto;
  overflow-x: hidden;
}

#total-banner {
  position: sticky;
  bottom: 0;
  margin-top: auto;
  background-color: var(--primary-color);
  border-top: 2px solid #5d6357;
  border-bottom: none;
  padding: 20px;
  z-index: 10;
  width: 100%;
  text-align: center;
}

.block {
  display: flex;
  justify-content: space-between;
  background-color: var(--card-color);
  align-items: center;
  width: 90%;
  max-width: 600px;
  border: 1px solid #5d6357;
  border-radius: 10px;
  padding: 15px 20px;
  font-size: 25px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.5);
}

.block p:first-child {
  font-weight: bold;
  font-size: 20px;
  color: #333;
  margin: 0;
}

.block p:last-child {
  font-weight: 500;
  font-size: 18px;
  color: #2e7d32;
  margin: 0;
}

.block button {
  flex: none;
}
