.container {
  display: flex;
  background-color: yellow;
  height: 100vh;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 40px;
}

.card {
  display: flex;
  width: 100vh;
  height: 20vh;
  border-radius: 10px;
  background-color: #95F9E3;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  box-shadow: 10px 10px 5px;
}

.input-divs{
  text-align: center;
  font-style: bold;
}

input {
  width: 200px;
  height: 25px;
  border-radius: 10px;
}

.list-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow-y: auto;
  gap: 20px;
}

.list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 200px;
  height: 200px;
  background-color: white;
  gap: 5px;
  border-radius: 10px;
}

.input-divs {
  display: flex;
  flex-direction: column;
}
